%p
  %a{ :href => "", :onClick => "alert('When you link to credible websites that support the point that you just wrote, other users will be more likely to understand and believe your point.'); return false;" } Why should I add a link?
  .hide_name
