%p In a few minutes, you should receive an email with a link to confirm your account. Please find that email and confirm your account. Check your junk mail if you don't see it.

%p In the meantime, you can continue to use the site without logging in.

%p We look forward to your contributions!

= form_for(resource, :as => resource_name, :url => mobile_navigate_login_path) do |f|
  %div
    = f.submit "I'm ready to go!"
  

