%p Forgot your password?
%label{:for => "user_email"} Email
%input#user_email{:type => "email", :name => "user[email]",
  :autocapitalize => 'off'}
%div.submit_footer
  %input#user_submit{:type => "submit", :value => "Send me reset password instructions",
    :autocapitalize => 'off'}
  %div
    %button.cancel Cancel
= link_to "Didn't receive confirmation instructions?", mobile_confirm_resend_path
