%p Forgot your password?
%label{:for => "user_email"} Email
%input#user_email{:type => "email", :name => "user[email]"}
%div.submit_footer
  %input#user_submit{:type => "submit", :value => "Send me reset password instructions"}
  %div
    %button.cancel Cancel
= link_to "Didn't receive confirmation instructions?", new_mobile_confirmation_path
