%p
  In a few minutes, you should receive an email with a link to confirm your account. Please 
  %strong
    find that email and confirm your account. 
  Check your junk mail if you don't see it.

%p
  In the meantime,
  %strong
    you can continue to use the site as a full member of the site.

%p
  However,
  %strong
    your vote will not be counted toward the totals until you confirm your account. 
  %p
    We look forward to your contributions!

%div
  -# This button should return user to the last non-login page
  %a.button{:href => mobile_home_path}
    %button I'm ready to go!

