%ul#why_join
  %li    
    %h2 Your vote will count. 
    %p We will tally your support or opposition in the totals.

  %li
    %h2 Share your pros and cons
    %p for other people to consider.
       
  %li
    %h2 Save your position
    %p to create your personal voters guide.
      
  %li
    %h2 Explore the most important points
    %p for users who support, oppose or are neutral on the issue.

  %li
    %h2 Discuss with others. 
    %p Comment on pros and cons, or the issue broadly. 
  
-# This needs stack navigation.
%button.cancel Previous: (TODO)
