-# If you came from the link in the navigation footer, we show different
-# nav links than if you came from the homepage or directly here
- if from_path("") || from_path(mobile_home_path)
  - next_path = mobile_option_update_position_path
- else
  - prev_path = referring_path

%p
- @option.format_description.each do |paragraph|
  %p #{h paragraph.html_safe}
%ul.option_desc_links
  - if @option.long_description and !@option.long_description.empty?

    %li
      = link_to("View Long Description", show_mobile_option_long_description_path)
  - if @option.additional_details and !@option.additional_details.empty?
    %li
      = link_to("View " + APP_CONFIG['decisions']['details'], show_mobile_option_additional_details_path)

= render :partial => "mobile/partials/nav", :locals => { :next_path => next_path, :skip_description => true, :prev_path => @prev_path }
