%p What's your initial opinion of #{@option.reference}?
= render :partial => "mobile/partials/position_select"
%div{ :id => "nav" }
  %div{ :class => "back" }
    = link_to "Back", mobile_home_path
  %div
    = link_to "Consider pros & cons", mobile_option_points_path(:option_id => @option.id), :class => "forward"

