= @option.long_description.html_safe
= form_for :navigate, :url => mobile_navigate_long_description_path do |f|
  = render :partial => "mobile/partials/nav", :locals => { :id => "nav_bottom", :navigation => @navigation, :include_header => true, :form => f }

