- @option.format_description.each do |paragraph|
  %p #{paragraph}
%p
  = link_to "View Long Description", show_mobile_option_long_description_path(:option_id => @option.id)
%p
  = link_to "View Fiscal Impact Statement", show_mobile_option_fiscal_impact_path(:option_id => @option.id)

