%p What's your initial opinion of #{@option.reference}?
= render :partial => "mobile/partials/position_select"
= render :partial => "mobile/partials/nav", :locals => {:prev_path => show_mobile_option_path, :skip_description => true}
