- if URI(request.referrer).path == show_mobile_option_path
  - skip_description = true

%p What's your current opinion of #{@option.reference}?
= render :partial => "mobile/partials/position_select"
= render :partial => "mobile/partials/nav", :locals => {:prev_path => mobile_option_points_path}
= render :partial => "mobile/partials/study_js", :locals => { :category => 2, :position_type => 2 }
