%p What's your current opinion of #{@option.reference}?
= form_for @data, :url => mobile_navigate_path do |f|
  = render :partial => "mobile/partials/position_select", :locals => { :form => f }
  = render :partial => "mobile/partials/nav", :locals => { :id => "nav_bottom", :navigation => @navigation, :include_header => true, :form => f }

