%p View a list of pros or cons ranked in order of importance for #{@stance_name}.
#pro_con_nav
  %ul.link_list
    %li
      = link_to("Pros (" + @pro_points.count.to_s + ")", mobile_option_segment_list_path(:point_type => "pro"))
      %li
        = link_to("Cons (" + @con_points.count.to_s + ")", mobile_option_segment_list_path(:point_type => "con"))
= render :partial => "mobile/partials/nav", :locals => { :prev_path => mobile_option_summary_path }

-# Might have nav links to the other voter segments and/or "my points" here

