%ul.point_list
  - even = false
  - points.each do |point|
    %li{ :class => ("even" if even) }
      .point_text #{point.nutshell} (#{point.comments.count} comments)</div>
      %ul.point_links
        %li
          = link_to("Details", show_mobile_option_point_path(:point_id => point.id))
        %li
          = render :partial => 'mobile/partials/add_remove_button', :locals => { :form => form, :point => point, :included_points => included_points }
    - even = !even

