%ul{ :class => "opinion_list" }
  - (0..6).to_a.reverse.each do |bucket|
    %li
      = form.radio_button(:stance_bucket, bucket)
      = form.label("stance_bucket_#{bucket}", Position.stance_name_map(bucket).capitalize)

