%ul{ :class => "opinion_list" }
  %li
    %input{ :type => "radio", :name => "position", :value => "strongYes", :id => "strongYesButton" }
    %label{ :for => "strongYesButton" } Strongly support
  %li
    %input{ :type => "radio", :name => "position", :value => "moderateYes", :id => "moderateYesButton" }
    %label{ :for => "moderateYesButton" } Moderately support
  %li
    %input{ :type => "radio", :name => "position", :value => "weakYes", :id => "weakYesButton" }
    %label{ :for => "weakYesButton" } Lightly support
  %li
    %input{ :type => "radio", :name => "position", :value => "neutral", :id => "neutralButton" }
    %label{ :for => "neutralButton" } Neutral
  %li
    %input{ :type => "radio", :name => "position", :value => "weakNo", :id => "weakNoButton" }
    %label{ :for => "weakNoButton" } Lightly oppose
  %li
    %input{ :type => "radio", :name => "position", :value => "moderateNo", :id => "moderateNoButton" }
    %label{ :for => "moderateNoButton" } Moderately oppose
  %li
    %input{ :type => "radio", :name => "position", :value => "strongNo", :id => "strongNoButton" }
    %label{ :for => "Button" } Strongly oppose

