%div
  %p
    Welcome to the LVG community, #{@resource.name}!

  %p 
    You can confirm your account by following one of the links below. After you do so, your votes on ballot measures will be counted toward the totals. 

  %p 
    Main site:
    = confirmation_url(@resource, :confirmation_token => @resource.confirmation_token, :mobile => false)

  %p 
    Mobile site:
    = confirmation_url(@resource, :confirmation_token => @resource.confirmation_token, :mobile => true)

  %p
    Thanks, and we look forward to your contributions. 
  
  %p
    The LVG team
