%div
  %p
    Welcome to the MPG community, #{@resource.name}!

  %p 
    You can confirm your account by following the link below. After you do so, your votes on proposals will be counted toward the totals. 

  %p 
    = link_to('Confirm account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token, :mobile => true))

  %p
    Thanks, and we look forward to your contributions. 
  
  %p
    The MPG team
